.participants-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #e0f7fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  margin: 5px auto;
  color: #00695c;
}

.register-button {
  padding: 10px 15px;
  background-color: #004d40;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.register-button:hover {
  background-color: #003d33;
}

.search-bar {
  margin-bottom: 20px;
  text-align: center;
}

.search-bar input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.participants-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.participant-card {
  border: 1px solid #ddd;
  padding: 10px;
  width: 200px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.participant-card h2 {
  font-size: 18px;
  color: #004d40;
}

.participant-card p {
  color: #00796b;
}

.no-participants {
  text-align: center;
}

.no-participants p {
  color: #00796b;
}
